@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* body {

    
    background-color: rgb(197, 190, 190);
    background:url("Mei\ Recently\ Modifiedf\ 4.png");
    background-size: 72px;
    background-position: 0rem;
    background-position-y:0px;
    background-position-x: center 0px;
    
} */
:root{
--primaryTextColor: #111314; 
--secondaryTextColor : #140b02;
--thirdBackgroundColor :#f5f3fe;
--backgroundcolor :#f3ecec;
--primaryiconcolor:#0e0101;
--bordercolor:#f1f1f1a8;
--linecolor: #4e0ec5;
--sectionPadding :6rem 0;
--itemBorderRadius: 0.7rem;


}
* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;

}

h1,h2,h3,h4,h5,h6, strong {
    color: rgb(6, 14, 20);
} 

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a{
    text-decoration: none;
    
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    font-size: 25px;
}

@media screen and (max-width: 12000px){
.main-container {
    width: 90%;
}
}
/* buttons */
.btn{
    padding: 1rem 1.5rem;
    background-color: white;
    border: 1.5px solid var(--bordercolor);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Titles/judul */
.section-title {
    margin:1rem 0 4rem;
    font-size: 2rem;
    text-align: center;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color:var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
    
}
.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(--linecolor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    

}



/* Layout */
.grid-3{
display: grid;
grid-template-columns:none(auto-fit, minmax(250px, 1fr));   
gap: 3rem;


}




/* logo dan menu navigasi */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem ;
}

.nav ul {
 list-style: none;
 display: flex;
 gap: 3rem;

}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a{
    color:var(--primaryTextColor)
}

nav ul li {
    display: flex;
    align-items: center;
}
nav ul li a{
    color: var(--primaryTextColor)
}

/* spice */
.spice div {
    width:25px;
    height: 2px;
    background-color: #000;
    margin:7px;
    transition: all .3s;
    z-index: 99;
    
}

.spice {
display: none;
z-index: 99;
position: fixed;
top: 33px;
right: 35px;
}

/* hero section */

#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: auto;

}

.hero name{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;

}

.hero-name span {
    color: var(--primaryTextColor);

}

.hero-right img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 800px;
}

.hero-right{
    display: flex;
    justify-content: center;

}

/* Services Section */
#services {
    background-color: var(--backgroundcolor);
    padding:var(--sectionPadding);
    background-color: #ceadad;
}

.services .pre-title {
    margin: 0 auto;
    
}

.services-title {
    text-align: center;
    margin: 0 auto;
    
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--primaryTextColor);
    border-radius: var(--itemBorderRadius);
}

.services h2 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 27px;
    
}

.service-icon {
    /* background:var(--thirdBackgroundColor); */
    width: auto;
    margin: 0 auto;
    /* padding: 1rem 1.3rem;
    border-radius: 0.5rem; */
}

.service-icon svg {
    fill: var (var(--primaryiconcolor))
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: rgba(34, 31, 31, 0.171);
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: rgb(14, 10, 10);
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #0a0a0a;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #0a0a0a;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #0a0a0a;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #0a0a0a;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #0a0a0a;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

#portofolio h3 {
    text-align: center;
    
}


#portofolio p {
text-align: center;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 80px;
    height: 40px;
    color: #000;
    border: 2px solid currentColor;
    border-right-color: transparent;
    padding: 3px;
    background: 
      repeating-linear-gradient(90deg,currentColor 0 10px,#0000 0 15px) 
      0/0% no-repeat content-box content-box;
    position: relative;
    box-sizing: border-box;
    animation: l5 2s infinite steps(6);
  }
  .loader::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 100%;
    width: 10px;
    background:
      linear-gradient(
          #0000   calc(50% - 7px),currentColor 0 calc(50% - 5px),
          #0000 0 calc(50% + 5px),currentColor 0 calc(50% + 7px),#0000 0) left /100% 100%,
      linear-gradient(currentColor calc(50% - 5px),#0000        0 calc(50% + 5px),currentColor 0) left /2px 100%,
      linear-gradient(#0000        calc(50% - 5px),currentColor 0 calc(50% + 5px),#0000        0) right/2px 100%;
    background-repeat:no-repeat;
  }
  @keyframes l5 {
      100% {background-size:120%}
  }

  /* HTML: <div class="loader"></div> */
  /* The eror is not disturbing so it's okay */
.loader2 {
    width: 60px;
    height: 50px;
    --m:no-repeat linear-gradient(90deg,#000 70%,#0000 0);
    -webkit-mask: 
      var(--m) calc(0*100%/4) 100%/calc(100%/5) calc(1*100%/5),
      var(--m) calc(1*100%/4) 100%/calc(100%/5) calc(2*100%/5),
      var(--m) calc(2*100%/4) 100%/calc(100%/5) calc(3*100%/5),
      var(--m) calc(3*100%/4) 100%/calc(100%/5) calc(4*100%/5),
      var(--m) calc(4*100%/4) 100%/calc(100%/5) calc(5*100%/5);
    background: linear-gradient(#514b82 0 0) left/0% 100% no-repeat #ddd;
    animation: l14 2s infinite steps(6);
  }
  @keyframes l14 {
    100% {background-size: 120% 100%}
  }

 .main-container .nav .logo{
    font-size: 30px;
    
 }

 #clock {
    font-size: 2rem;
    text-align: right;  

    
}

.loader4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    
}

.loader4 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid #ff6ec4;
    border-right: 10px solid #ff6ec4;
    animation: spin 2s linear infinite;
    position: relative;
    
}

.loader4:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid #f3f3f3;
    border-right: 10px solid #f3f3f3;
    filter: blur(10px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}